<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить кота</title>
</head>
<body>
    <div>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name(value=cat.name) }}
            {{ form.breed.label }}
            {{ form.breed(value=cat.breed) }}
            {{ form.gender.label }}
            {{ form.gender(value=cat.gender) }}
            {{ form.color.label }}
            {{ form.color(value=cat.color) }}
            {{ form.age.label }}
            {{ form.age(value=cat.age) }}
            {{ form.cost.label }}
            {{ form.cost(value=cat_pos.cost) }}
            <input type="submit" value="Добавить кота">
        </form>
        
    </div>
</body>
</html>