<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить кота</title>
</head>
<body>
    <div>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name() }}
            {{ form.breed.label }}
            {{ form.breed() }}
            {{ form.gender.label }}
            {{ form.gender() }}
            {{ form.color.label }}
            {{ form.color() }}
            {{ form.age.label }}
            {{ form.age() }}
            {{ form.cost.label }}
            {{ form.cost() }}
            <input type="submit" value="Добавить кота">
        </form>
        
    </div>
</body>
</html>