<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
    <div>
       <nav>
        <div>
            <a href="/register">Зарегистрироваться</a>
            <a href="/login">Войти</a>
            {% if u %}
                <a href="/add">Создать</a>
            {% endif %}
            {% if auth %}
                <a href="/logout">Выйти</a>
            {% endif %}
        </div>
       </nav>
        {% for cat in cats %}
            <div>{{ cat.name }}</div>
            <div>{{ cat.breed }}</div>
            <div>{{ cat.gender }}</div>
            <div>{{ cat.color }}</div>
            <div>{{ cat.age }}</div>
        {% endfor %}
    </div>
</body>
</html>